body {
	background: url("../img/bg.jpg");
	margin:0px;
}


/*header design*/


header{
	background: black;
	float:left;
		padding:15px 0;
		min-width:100%;
		 padding:25px;
  box-shadow: 0 5px 10px #aaa;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;

}
/*header "Name"*/
 header>section h1{
	color: white;
	float: right;
	font-variant: small-caps;
	font-family: 'Poller One', cursive;
	font-size: 50px;
	max-width: 0 0;	
	border-right-style: solid;
	padding:0 20px 20px 0;
	
}

/*header Contact info*/
.contact{
	color: white;
	float: left;
	margin-left: 10px;
}
header>section h3{
	margin: 35px 0 0 0;
}


/*article design*/
.container{
	background: rgba(88, 85, 85, 0.1);;
	height:500px;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

div img{
	
	border-radius: 100px;	
}
.work{
	
	position: relative;
	margin: 0 0 20px 17%;
	font-size: 20px;

}


.last{
	border-top-style: double;
	margin-top: 15px;
}
h2,h3{
	font-variant: small-caps;
	font-family: 'Poller One', cursive;
}

footer{
	background: black;
	min-width: 100%
}
footer p{
	color: white;
}
/*Links*/

	

